@charset "UTF-8";

section {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	width: 1056px;
	height: 363px;
	left: calc(50% - 1056px/ 2);
	top: 240px;
}

h1 {
	/* Subscribe now and get a free t-shirt directly in your inbox. */
	position: static;
	width: 448px;
	height: 232px;
	left: 0px;
	top: 34px;
	/* Headline/H1 */
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	/* Black/100% */
	color: #000000;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 32px 0px;
}

.links {
	/* Title */
	/* Auto Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	position: static;
	width: 448px;
	height: 363px;
	left: 0px;
	top: 0px;
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 80px;
}

form {
	position: static;
	width: 448px;
	height: 363px;
	left: 608px;
	top: calc(50% - 363px/ 2);
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.radio {
	/* Toggle */
	width: 20px;
	height: 20px;
	/* Green/20% */
	background: rgba(102, 196, 154, 0.2);
}

article.radiobuttons {
	width: 100%;
}

article.radiobutton {
	display: flex;
	flex-direction: row;
	float: left;
	width: 30%;
	margin-right: 10px;
}

article.eingaben {
	float: left;
	margin-top: 15px;
	width: 100%;
	height: 170px;
	width: 100%;
}

article.eingabe {
	width: 100%;
	height: 80px;
	float: left;
	margin-bottom: 10px;
}

article.eingabe h2 {
	margin: 0px;
	left: 0px;
	top: 0px;
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	width: 100%;
	float: left;
	color: gray;
}

.radiob {
	margin-right: 10px;
	height: 100%;
	font-size: 20px;
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.4);
}

.textfield {
	border-color: white;
	min-width: 100%;
	max-width: 100%;
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19.2px;
}

hr.rounded {
	border-top: 1px solid #bbb;
	border-radius: 1px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

p {
	styleName: Text/Small;
	font-family: Recursive Sans Linear Static;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0em;
	text-align: left;
}

article.checkbox {
	display: flex;
	flex-direction: row;
	float: left;
	width: 100%;
	height: 30px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.check {
	width: 20px;
	height: 20px;
	margin: 5px;
}

a {
	text-decoration: none;
	width: clac(100% -30px);
	height: 20px;
	margin: 5px;
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #66C39A;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.button {
	/* Button */
	/* Auto Layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
	position: static;
	width: 110px;
	height: 43px;
	right: 338px;
	bottom: 0px;
	/* Green/100% */
	background: #66C39A;
	border-radius: 8px;
}

.hr1 {
	/* Line */
	position: static;
	width: 120px;
	height: 2px;
	left: 0px;
	top: 0px;
	/* Green/100% */
	background: #66C39A;
	border-radius: 1px;
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 16px;
}

.hr2 {
	/* Line */
	position: static;
	width: 40px;
	height: 2px;
	left: 136px;
	top: 0px;
	/* Green/100% */
	background: #66C39A;
	border-radius: 1px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 16px;
}

.hr3 {
	/* Line */
	position: static;
	width: 8px;
	height: 2px;
	left: 192px;
	top: 0px;
	/* Green/100% */
	background: #66C39A;
	border-radius: 1px;
	/* Inside Auto Layout */
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0px 16px;
}

.lines {
	display: flex;
	flex-direction: row;
	height: 3px;
	width: 150px;
}

.fehler {
	font-family: Recursive Sans Linear Static;
	font-style: normal;
	font-weight: normal;
	color: #EE1717;
}